.article-list-wrapper {

    padding-bottom: 30px;

    .article-list-container {
        height: 100%;
        max-width: 1400px;
        margin: auto;

        // background-color: #ccc;

        .new-article-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 5px 10px;
            border: 1px solid #949494;
            border-radius: 2px;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 30px;
            margin-left: 10px;

            &:hover {
                border-color: #2E2E2E;
                background-color: #fafafa;
            }
        }

        .article-container {

            margin-top: 10px;

            .article-wrapper {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-left: 5px solid #3335;
                padding-left: 10px;
                display: flex;
                gap: 2%;
                margin: 0 10px;
                margin-bottom: 45px;
                height: 350px;

                .article-content {
                    width: 49%;
                    display: flex;
                    flex-flow: column;
                    position: relative;
                    
                    .article-heading-actions {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h2 {
                            font-size: 24pt;
                        }

                        .article-actions-container {
                            display: flex;
                            gap: 10px;

                            .article-actions {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;
                                padding: 5px 10px;
                                border-radius: 5px;
                                color: #E4E4E4;
                                cursor: pointer;
                                align-self: flex-end;
    
                                p {
                                    color: #E4E4E4;
                                }
    
                                &:hover {
                                    outline: 1px solid black;
                                }
                            }
    
                            .article-actions.action-update {
                                background-color: #0000A5;
                            }
    
                            .article-actions.action-delete {
                                background-color: #A50000;
                            }
                        }

                    }

                    .article-meta {
                        font-size: 10pt;
                    }

                    .article-body {
                        flex-grow: 1;
                        margin: 10px 0;
                        font-size: 14pt;
                        width: 100%;
                        // background-color: aquamarine;
                        text-overflow: ellipsis;
                        // white-space: nowrap;
                        overflow: hidden;
                        max-height: 300px;
                        position: relative;

                        .article-body-fadeout {
                            height: 100px;
                            width: 100%;
                            position: absolute;
                            bottom: 0px;
                            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
                            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
                            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
                            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
                            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
                        }
                    }

                    .read-more-btn {
                        background-color: #228a34;
                        border-radius: 5px;
                        color: white;
                        padding: 8px 13px;
                        width: fit-content;
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 14pt;
                        position: absolute;
                        bottom: 30px;
                        left: 40%;

                        &:hover {
                            text-decoration: underline;
                            outline: 1px solid black;
                        }
                    }

                    @media screen and (max-width: 1000px) {
                        height: 350px;
                        width: 100%;
                    }
                }

                img {
                    width: 49%;
                    @media screen and (max-width: 1000px) {
                        width: 100%;
                        max-height: 350px;
                    }
                }

                .article-image {
                    width: 49%;
                    background-image: url('../../assets/image-placeholder.png');
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                @media screen and (max-width: 1000px) {
                    flex-direction: column;
                    height: auto;
                }
            }

        }
        
    }
}