<div class="article-list-wrapper">
    <div class="article-list-container">
        <a href="">+ Article</a>
        <div class="article-container">
            <h2>ArticleTitle</h2>
            <span>Date author metadata</span>
            <p>Article body</p>
            <h2>ArticleTitle</h2>
            <span>Date author metadata</span>
            <p>Article body</p>
            <h2>ArticleTitle</h2>
            <span>Date author metadata</span>
            <p>Article body</p>
            <h2>ArticleTitle</h2>
            <span>Date author metadata</span>
            <p>Article body</p>
        </div>
    </div>
</div>