<div class="navbar-wrapper">
    <div class="navbar-container">
        <p>Welcome {{currentAuthorName}}</p>
        <div 
            class="new-article-btn-menu" 
            title="Add new article"
            role="button"
            (click)="openForm()"
        >
            <img src="../../assets/newarticleplusmenu.png" alt="Add" />
            <p>New article</p>
        </div>
        <img src="../../assets/about.png" alt="About" title="About website" (click)="openAboutModal()" />
        <img src="../../assets/settings.png" alt="Settings" title="Website settings" (click)="openSettingsModal()" />
    </div>
</div>