.navbar-wrapper {
    height: 40px;
    background-color: #ddd;
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid #333;

    .navbar-container {
        display: flex;
        height: 100%;
        max-width: 1400px;
        margin: auto;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .new-article-btn-menu {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            p {
                font-weight: 400;
                font-size: 20px;
            }

            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
    
}