<app-navbar 
    (toggleArticleForm)="toggleArticleForm($event)" 
    (toggleAboutModal)="toggleAboutModal($event)" 
    (toggleSettingsModal)="toggleSettingsModal($event)" 
    [currentAuthorName]="currentAuthorName"
/>
<app-header [currentBlogTitle]="currentBlogTitle" />
<app-article-list (toggleArticleForm)="toggleArticleForm($event)" />
<app-article-form 
    *ngIf="articleOpen" 
    (toggleArticleForm)="toggleArticleForm($event)" 
    [currentAuthorName]="currentAuthorName"
    [selectedArticle]="selectedArticle"
/>
<app-about-modal *ngIf="aboutModalOpen" (toggleAboutModal)="toggleAboutModal($event)" />
<app-settings-modal 
    *ngIf="settingsModalOpen" 
    (toggleSettingsModal)="toggleSettingsModal($event)" 
    (setCurrentBlogTitle)="setCurrentBlogTitle($event)" 
    (setCurrentAuthorName)="setCurrentAuthorName($event)" 
    [currentBlogTitle]="currentBlogTitle" 
    [currentAuthorName]="currentAuthorName" 
/>