<app-navbar 
    (toggleArticleForm)="toggleArticleForm($event)" 
    (toggleAboutModal)="toggleAboutModal($event)" 
    (toggleSettingsModal)="toggleSettingsModal($event)" 
    [currentAuthorName]="currentAuthorName"
/>
<app-header [currentBlogTitle]="currentBlogTitle" [bannerImage]="bannerImage" />
<app-article-list (toggleArticleForm)="toggleArticleForm($event)" (toggleArticleModal)="toggleArticleModal($event)" />
<app-article-form 
    *ngIf="articleOpen" 
    (toggleArticleForm)="toggleArticleForm($event)" 
    [currentAuthorName]="currentAuthorName"
    [selectedArticle]="selectedArticle"
/>
<app-article-modal *ngIf="articleModalOpen" (toggleArticleModal)="toggleArticleModal($event)" [currentArticleIndex]="currentArticleIndex" />
<app-about-modal *ngIf="aboutModalOpen" (toggleAboutModal)="toggleAboutModal($event)" />
<app-settings-modal 
    *ngIf="settingsModalOpen" 
    (toggleSettingsModal)="toggleSettingsModal($event)" 
    (setCurrentBlogTitle)="setCurrentBlogTitle($event)" 
    (setCurrentAuthorName)="setCurrentAuthorName($event)" 
    (setBannerImage)="setBannerImage($event)"
    [currentBlogTitle]="currentBlogTitle" 
    [currentAuthorName]="currentAuthorName" 
    [bannerImage]="bannerImage"
/>