<div 
    class="modal-wrapper"
    (click)="closeModal()"
>
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div
            class="close-button"
            (click)="closeModal()"
        >
            <img src="../../assets/close-modal-icon.png" />
        </div>
        <app-settings-modal 
            *ngIf="activeModal==='settings'" 
            (closeModal)="closeModal()"
        />
        <app-about-modal 
            *ngIf="activeModal==='about'"
        />
        <app-article-form
            *ngIf="activeModal==='articleForm'"
            (closeModal)="closeModal()"
        />
        <app-article-modal
            *ngIf="activeModal==='article'"
        />
    </div>
</div>