<div 
    class="article-form-wrapper"
    (click)="closeForm()"
>
    <div class="article-form-container" (click)="$event.stopPropagation()">
        <p
            (click)="closeForm()"
        >
            X
        </p>
        
        <span>* Title:</span>
        <input type="text" #title />
        <p *ngIf="formErrors.title">This field is required</p>
        <span>* Body:</span>
        <textarea #body></textarea>
        <p *ngIf="formErrors.body">This field is required</p>
        
        <button
            (click)="addArticle({
                title: title.value,
                date: '230608',
                author: 'John Doe',
                body: body.value
            })"
        >Add</button>
    </div>
</div>
