h2 {
    margin-bottom: 20px;
}

.form-fields-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-self: stretch;

    .form-field-wrapper {
        display: flex;
        flex-flow: column;

        #title-input, #body-input {
            padding: 5px;
        }

        #title-input {
            font-size: 16pt;
        }

        #body-input {
            font-size: 14pt;
        }

        .input-error {
            color: brown;
        }
    }
}

.add-article-button {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}